body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside{
	flex: 1;
	overflow-y: auto;
}

.logo {
    font-size: 2rem; /* Make the logo bigger */
    color: #ff6347; /* Add a standout color (e.g., tomato) */
    margin-right: 10px; /* Add spacing between the logo and other items */
}